@import "tailwindcss";

:root {
  --surface-0: #fbf6f1;
  --surface-1: #e5e0da;
  --surface-2: #c2bfcb;
  --surface-accent: #7e7b46;

  --text-primary: #223614;

  --heading-1-size: clamp(2.5rem, 5vw + 1rem, 4.5rem); /* 40→72px */
  --heading-2-size: clamp(2rem, 3vw + 0.5rem, 3rem); /* 32→48px */
  --heading-3-size: clamp(1.75rem, 2.5vw, 2.5rem); /* 28→40px */
  --heading-4-size: clamp(1.25rem, 2vw, 2rem); /* 20→32px */

  --large-text-size: clamp(1.2rem, 2.5vw, 1.5rem); /* 20px → 24px */
  --normal-text-size: clamp(1rem, 2vw, 1.2rem); /* 16px → 19.2px */
  --small-text-size: clamp(0.875rem, 1.5vw, 1rem); /* 14px → 16px */
  --normal-meta-size: clamp(0.75rem, 1vw, 0.8rem); /* 12px → 12.8px */

  --lh-body: 1.6;
  --lh-heading: 1;
  --lh-tight: 0.8;
}

@theme {
  /*colors*/
  --color-surface-0: var(--surface-0);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-accent: var(--surface-accent);

  --color-text-primary: var(--text-primary);
  --color-text-inverse: var(--surface-0);

  /*font-family*/
  --font-body: var(--font-monts);
  --font-outfit: var(--font-outfit);

  /*font-size*/

  --text-fs-h1: var(--heading-1-size);
  --text-fs-h2: var(--heading-2-size);
  --text-fs-h3: var(--heading-3-size);
  --text-fs-h4: var(--heading-4-size);
  --text-large: var(--large-text-size);
  --text-normal: var(--normal-text-size);
  --text-small: var(--small-text-size);
  --text-extra-small: var(--normal-meta-size);

  /*breakpoints*/
  --breakpoint-mobile-nav: 50rem;

  /*layout*/
  --grid-cols-mobile: repeat(12, auto);
  --grid-rows-mobile: 2rem repeat(10, auto) 2rem;
  --grid-cols-specialties: repeat(auto-fit, minmax(260px, 1fr));

  /*line-height*/
  --leading-body: calc(var(--text-large) * var(--lh-body));
  --leading-header-1: calc(var(--text-fs-h1) * var(--lh-heading));
  --leading-header-2: calc(var(--text-fs-h2) * var(--lh-heading));
  --leading-header-3: calc(var(--text-fs-h3) * var(--lh-heading));
  --leading-header-4: calc(var(--text-fs-h4) * var(--lh-heading));
}

@layer base {
  h1 {
    @apply text-fs-h1 font-medium leading-header-1;
  }

  h2 {
    @apply text-fs-h2 font-medium leading-header-2;
  }
  h3 {
    @apply text-fs-h3 font-medium leading-header-3;
  }
  h4 {
    @apply text-fs-h4 font-medium leading-header-4;
  }

  a {
    @apply border-b capitalize;
  }
}

/* 

--large-text-size: 1.5rem; -- 24px 
  --normal-text-size: 1.2rem; -- 19.2px (body default) 
  --small-text-size: 1rem; -- 16px 
  --normal-meta-size: 0.8rem; -- 12.8px (caps, labels) 

*/

/*

 ---
surface-0      #fbf6f1   (main page background)
surface-1      #e5e0da   (light section bg)
surface-2      #c2bfcb   (muted section bg)
surface-accent #7e7b46   (strong CTA section)
overlay-dark   #22361480 (transparent overlay)

text-primary   #223614
text-inverse   #fbf6f1
text-white     #ffffff




*/

