@import "tailwindcss";

:root {
  --white-hsl: hsl(30, 55.56%, 96.47%); /* Off-white bg: warm cream tint */
  --black-hsl: hsl(95.29, 45.95%, 14.51%); /* Deep charcoal text */

  /* Primary Accents: */
  --accent-hsl: hsl(255, 10.34%, 77.25%); /* Lavender-gray (main accent) */
  --lightAccent-hsl: hsl(32.73, 17.46%, 87.65%); /* Warm light beige */
  --darkAccent-hsl: hsl(56.79, 28.57%, 38.43%); /* Muted olive-green */

  --heading-1-size: clamp(2.5rem, 5vw + 1rem, 4.5rem); /* 40→72px */
  --heading-2-size: clamp(2rem, 3vw + 0.5rem, 3rem); /* 32→48px */
  --heading-3-size: clamp(1.75rem, 2.5vw, 2.5rem); /* 28→40px */
  --heading-4-size: clamp(1.25rem, 1.5vw, 2rem); /* 20→32px */

  --large-text-size: clamp(1.25rem, 3vw, 1.5rem); /* 20px → 24px */
  --normal-text-size: clamp(1rem, 2.5vw, 1.2rem); /* 16px → 19.2px */
  --small-text-size: clamp(0.875rem, 2vw, 1rem); /* 14px → 16px */
  --normal-meta-size: clamp(0.75rem, 1.5vw, 0.8rem); /* 12px → 12.8px */

  --lh-body: 1.6;
  --lh-heading: 1;
  --lh-tight: 0.8;
}

@theme {
  /*colors*/
  --color-background: var(--white-hsl);
  --color-foreground: var(--black-hsl);

  /*font-size*/
  --text-fs-h1: var(--heading-1-size);
  --text-fs-h2: var(--heading-2-size);
  --text-fs-h3: var(--heading-3-size);
  --text-fs-h4: var(--heading-4-size);
  --text-large: var(--large-text-size);
  --text-normal: var(--normal-text-size);
  --text-small: var(--small-text-size);
  --text-extra-small: var(--normal-meta-size);

  /*font-family*/
  --font-body: var(--font-monts);
  --font-outfit: var(--font-outfit);

  /*breakpoints*/
  --breakpoint-mobile-nav: 50rem;

  /*layout*/
  --grid-cols-mobile: repeat(12, 1fr);
  --grid-rows-mobile: 2rem repeat(10, auto) 1fr;

  /*line-height*/
  --leading-body: calc(var(--text-normal-text) * var(--lh-body));
  --leading-header: calc(var(--text-fs-h1) * var(--lh-heading));
}

@layer base {
  h1 {
    @apply text-fs-h1 font-medium leading-header;
  }
}

/* 

--large-text-size: 1.5rem; -- 24px 
  --normal-text-size: 1.2rem; -- 19.2px (body default) 
  --small-text-size: 1rem; -- 16px 
  --normal-meta-size: 0.8rem; -- 12.8px (caps, labels) 

*/

